body, html {
    width: 100%;
    height: 100%;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    background: url(./images/5.3\ header.jpg.jpg) no-repeat center center fixed;
    /* object-fit: cover; */
    background-size: cover;
}

h1 {
    font-size: 3rem;
    color: #d4dbe1;
}

.btn {
    font-weight: 700;
    border-radius: 300px;
}

.btn-primary {
    background-color: #F05F44;
    border-color: #F05F44;
}

.btn-xl {
    padding: 1rem 2rem;
}